.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    width: 100%;
    border-radius: 7px;
    background-color: ivory;
  }
  .video-mixin__data {
    margin-top: 10px;
    padding: 0px 5px;
    display: flex;
    align-items: center;

    .video-mixin__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-left: 10px;
    }
    .video-mixin__meta {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
